{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            }
          }
        ]
      ],
      "plugins": [
      ]
    },
    "module": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
      ]
    },
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": "last 2 versions, ie 10-11"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
      ],
      "ignore": [
        "./src/node.js"
      ]
    }
  },
  "sourceMaps": true
}